*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
  height: 100%;
}

.raised {
  transition: box-shadow .2s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}
.raised:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2);
}

/*=======================================================
    Flash Card
=======================================================*/
/* flashcard>correctButton + wrongButton + (innerCard>(cardFront + cardBack)) */

.flashCard {
  position: relative;
  width: 400px;
  height: 275px;
  margin-bottom: 50px;
  -webkit-perspective: 800;
}
.flashCard .innerCard.flipped {
  -webkit-transform: rotateY(-180deg);
}
.flashCard .innerCard {
  width: 100%;
  height: 100%;
  -webkit-transition: .5s;
  -webkit-transform-style: preserve-3d;
}
.flashCard, .innerCard, .cardFace {
  border-radius: 2px;
}
.innerCard .cardFace {
  font-family: Helvetica;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}
.innerCard .cardFront {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  color: white;
}
.innerCard .cardBack {
  cursor: pointer;
  -webkit-transform: rotateY(-180deg);
  color: black;
  background: white;
}
.term {
  font-family: Helvetica;
  font-size: 2em;
  line-height: 275px;
  margin: 0;
  text-align: center;
}
.definition {
  position: absolute;
  top: 50%;
  margin: 0;
  padding: 0 40px;
  -webkit-transform: translateY(-50%);
}

/*=======================================================
    Buttons
=======================================================*/

.fab {
  line-height: 56px;
  position: absolute;
  z-index: 3;
  bottom: -26px;
  display: inline-block;
  overflow: hidden;
  width: 56px;
  height: 56px;
  cursor: pointer;
  transition: box-shadow .3s cubic-bezier(.4, 0, .2, 1);
  transition-delay: .3s;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.fab:hover {
border: 0px solid rgba(35,31,32,0.02);
box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.19), 0px 6px 3px 0px rgba(0,0,0,0.23);
}

.wrongButton {
  left: 26px;
  background-color: #d23f31;
}
.correctButton {
  right: 26px;
  background-color: #0f9d58;
}

/*=======================================================
    Layout Frame
=======================================================*/

.container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*padding: 30px 0;*/
  background-color: #f1f1f1;
}
.cards {
  position: relative;
  width: 720px;
  margin: 0 auto;
  top: 0;
}

.back3,
.next3 {
  position: absolute;
  top: 330px;
  left: 250px;
  z-index: 7;
  height: 140px;
  width: 175px;
  background: rgb(0, 16, 65);
}

.back3 {
  left: 0;
}

.next3 {
  left: 545px;
}

.back2,
.next2 {
  position: absolute;
  top: 300px;
  z-index: 8;
  height: 200px;
  width: 250px;
  background: rgb(0, 25, 101);
}

.back2 {
  left: 30px;
}

.next2 {
  left: 440px;
}

.back1,
.next1 {
  position: absolute;
  top: 270px;
  z-index: 9;
  height: 260px;
  width: 325px;
  background: rgb(0, 36, 144);
}

.back1 {
  left: 80px;
}

.next1 {
  left: 315px;
}

.currentCard {
  position: absolute;
  top: 240px;
  left: 160px;
  z-index: 10;
  height: 320px;
  width: 400px;
  background: blue;
}
