*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
  height: 100%;
}

.raised {
  transition: box-shadow .2s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}
.raised:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2);
}

/*=======================================================
    Flash Card
=======================================================*/
/* flashcard>correctButton + wrongButton + (innerCard>(cardFront + cardBack)) */

.flashCard {
  position: relative;
  -webkit-perspective: 800;
}

.flashCard:hover {
  z-index: 6;
  -webkit-transition: 0.8s;
}
.flashCard .innerCard.flipped {
  -webkit-transform: rotateX(-180deg);
}
.flashCard .innerCard {
  width: 100%;
  height: 100%;
  -webkit-transition: .5s;
  -webkit-transform-style: preserve-3d;
}
.flashCard, .innerCard, .cardFace, .term, .definition {
  border-radius: 2px;
}
.innerCard .cardFace {
  font-family: Helvetica;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}
.innerCard .cardFront {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  color: white;
}
.innerCard .cardBack {
  cursor: pointer;
  -webkit-transform: rotateX(-180deg);
  color: black;
  background: white;
}
.term {
  font-family: Helvetica;
  margin: 0;
  text-align: center;
}
.definition {
  line-height: normal;
  position: absolute;
  top: 50%;
  margin: 0;
  padding: 0 40px;
  -webkit-transform: translateY(-50%);
}

/*=======================================================
    Buttons
=======================================================*/

.fab {
  line-height: 56px;
  position: absolute;
  z-index: 3;
  bottom: -26px;
  display: inline-block;
  overflow: hidden;
  width: 56px;
  height: 56px;
  cursor: pointer;
  transition: box-shadow .3s cubic-bezier(.4, 0, .2, 1);
  transition-delay: .3s;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  font-size: 26px;
}

.fab:hover {
border: 0px solid rgba(35,31,32,0.02);
box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.19), 0px 6px 3px 0px rgba(0,0,0,0.23);
}

.wrongButton {
  left: 56px;
  background-color: #d23f31;
}
.correctButton {
  right: 56px;
  background-color: #0f9d58;
}

/*=======================================================
    Layout Frame
=======================================================*/

.container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*padding: 30px 0;*/
  background-color: #f1f1f1;
}
.cards {
  position: relative;
  width: 720px;
  margin: 0 auto;
  top: 0;
}

.back3,
.next3 {
  position: absolute;
  top: 330px;
  left: 250px;
  z-index: 1;
  height: 140px;
  width: 175px;
  line-height: 140px;
}

.back3 .definition,
.next3 .definition {
  font-size: 7px;
  padding: 0 10px;
}

.back3 .term,
.next3 .term {
  background: rgb(0, 16, 65);
  font-size: 14px;
}

.back3 {
  left: 0;
}

.next3 {
  left: 545px;
}

.back2,
.next2 {
  position: absolute;
  top: 300px;
  z-index: 2;
  height: 200px;
  width: 250px;
  line-height: 200px;
}

.back2 .definition,
.next2 .definition {
  font-size: 10px;
  padding: 0 20px;
}

.back2 .term,
.next2 .term {
  background: rgb(0, 25, 101);
  font-size: 20px;
}

.back2 {
  left: 30px;
}

.next2 {
  left: 440px;
}

.back1,
.next1 {
  position: absolute;
  top: 270px;
  z-index: 3;
  height: 260px;
  width: 325px;
  line-height: 260px;
}

.back1 .definition,
.next1 .definition {
  font-size: 13px;
  padding: 0 30px;
}
.back1 .term,
.next1 .term {
  background: rgb(0, 36, 144);
  font-size: 32px;
}
.back1 {
  left: 80px;
}

.next1 {
  left: 315px;
}

.currentCard {
  position: absolute;
  top: 240px;
  left: 160px;
  z-index: 4;
  height: 320px;
  width: 400px;
  line-height: 320px;
}

.currentCard .definition {
  font-size: 16px;
}
.currentCard .term {
  background: blue;
  font-size: 40px;
}

/*=======================================================
    Instructions
=======================================================*/

.instructions {
  position: absolute;
  width: 300px;
  height: 200px;
  font-size: 24px;
  text-align: center;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

/*=======================================================
    Animations
=======================================================*/

.currentAnimate {
  animation: currentRight 1.6s cubic-bezier(0.86, 0, 0.07, 1) infinite alternate;
  animation-delay: 0;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes currentRight {
  0% {
    background-color: blue;
    z-index: 4;
  }
  100% {
    transform: scale(0.8125) translateX(145px);
    background-color: rgb(0, 36, 144);
    z-index: 3;
  }
}

@keyframes currentLeft {
  0% {
    background-color: blue;
    z-index: 4;
  }
  100% {
    transform: scale(0.8125) translateX(-145px);
    background-color: rgb(0, 36, 144);
    z-index: 3;
  }
}

.next1Animate {
  animation: next1Right 1.6s cubic-bezier(0.86, 0, 0.07, 1) infinite alternate;;
  animation-delay: 0;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes next1Right {
  0% {
    background-color: rgb(0, 36, 144);
    z-index: 3;
  }
  100% {
    transform: scale(0.77) translateX(115px);
    background-color: rgb(0, 25, 101);
    z-index: 2;
  }
}

@keyframes next1Left {
  0% {
    background-color: rgb(0, 36, 144);
    z-index: 3;
  }
  /*25% {
    transform: translateX(200px);
  }*/
  100% {
    transform: scale(1.23) translateX(-95px);
    background-color: blue;
    z-index: 4;
  }
}

.back1Animate {
  animation: back1Right 1.6s cubic-bezier(0.86, 0, 0.07, 1) infinite alternate;;
  animation-delay: 0;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes back1Right{
  0% {
    background-color: rgb(0, 36, 144);
    z-index: 3;
  }
  /*25% {
    transform: translateX(200px);
  }*/
  100% {
    transform: scale(1.23) translateX(95px);
    background-color: blue;
    z-index: 4;
  }
}

@keyframes back1Left {
  0% {
    background-color: rgb(0, 36, 144);
  }
  100% {
    transform: scale(0.77) translateX(-115px);
    background-color: rgb(0, 25, 101);

  }
}

.next2Animate {
  animation: next2Right 1.6s cubic-bezier(0.86, 0, 0.07, 1) infinite alternate;;
  animation-delay: 0;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes next2Right {
  0% {
    background-color: rgb(0, 25, 101);
    z-index: 2;
  }
  100% {
    transform: scale(0.7) translateX(95px);
    background-color: rgb(0, 16, 65);
    z-index: 1;
  }
}

@keyframes next2Left {
  0% {
    background-color: rgb(0, 25, 101);
  }
  100% {
    transform: scale(1.3) translateX(-70px);
    background-color: rgb(0, 36, 144);
  }
}

.back2Animate {
  animation: back2Right 1.6s cubic-bezier(0.86, 0, 0.07, 1) infinite alternate;;
  animation-delay: 0;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes back2Right {
  0% {
    background-color: rgb(0, 25, 101);
  }
  100% {
    transform: scale(1.3) translateX(70px);
    background-color: rgb(0, 36, 144);
  }
}

@keyframes back2Left {
  0% {
    background-color: rgb(0, 25, 101);
  }
  100% {
    transform: scale(0.7) translateX(-95px);
    background-color: rgb(0, 16, 65);
  }
}

.next3Animate {
  animation: next3Left 1.6s cubic-bezier(0.86, 0, 0.07, 1) infinite alternate;;
  animation-delay: 0;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes next3Left {
  0% {
    background-color: rgb(0, 16, 65);
  }
  100% {
    transform: scale(1.43) translateX(-50px);
    background-color: rgb(0, 25, 101);
  }
}

.back3Animate {
  animation: back3Right 1.6s cubic-bezier(0.86, 0, 0.07, 1) infinite alternate;;
  animation-delay: 0;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes back3Right {
  0% {
    background-color: rgb(0, 16, 65);
  }
  100% {
    transform: scale(1.43) translateX(50px);
    background-color: rgb(0, 25, 101);
  }
}
