.container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px 0;
  background-color: #f1f1f1;
}
.cards {
  position: relative;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
}
.raised {
  transition: box-shadow .2s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}
.raised:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2);
}

/* flashcard>correctButton + wrongButton + (innerCard>(cardFront + cardBack)) */

.flashCard {
  position: relative;
  width: 400px;
  height: 275px;
  margin: 50px auto;
  -webkit-perspective: 800;
}
.flashCard .innerCard.flipped {
  -webkit-transform: rotateY(-180deg);
}
.flashCard .innerCard {
  width: 100%;
  height: 100%;
  -webkit-transition: .5s;
  -webkit-transform-style: preserve-3d;
}
.flashCard, .innerCard, .cardFace {
  border-radius: 2px;
}
.innerCard .cardFace {
  font-family: Helvetica;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}
.innerCard .cardFront {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  color: white;
  background: black;
}
.innerCard .cardBack {
  cursor: pointer;
  -webkit-transform: rotateY(-180deg);
  color: black;
  background: white;
}
.term {
  font-family: Helvetica;
  font-size: 2em;
  line-height: 275px;
  margin: 0;
  text-align: center;
}
.definition {
  position: absolute;
  top: 50%;
  margin: 0;
  padding: 0 40px;
  -webkit-transform: translateY(-50%);
}
.fab {
  line-height: 56px;
  position: absolute;
  z-index: 3;
  bottom: -26px;
  display: inline-block;
  overflow: hidden;
  width: 56px;
  height: 56px;
  cursor: pointer;
  transition: box-shadow .2s cubic-bezier(.4, 0, .2, 1);
  transition-delay: .2s;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}
.wrongButton {
  left: -26px;
  background-color: #d23f31;
}
.correctButton {
  right: -26px;
  background-color: #0f9d58;
}
